doctype html
html(lang="en")
  head
    title= pageTitle
  body

    article
      h2 Hello World!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aperiam nesciunt ad perspiciatis, quae quis enim voluptatibus aut illum magni modi nostrum eos, iste quasi. Eius ipsa vel nisi ex.