doctype html
html(lang="en")
  head
    title Project
  body

    article.baiviet
      h2 Hello World 3!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aperiam nesciunt ad perspiciatis, quae quis enim voluptatibus aut illum magni modi nostrum eos, iste quasi. Eius ipsa vel nisi ex.
    //.baiviet